<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jenselg.shoottheegg" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Shoot The Egg</name>
    <description>
        Simple - Shoot the egg! Don't shoot anything else! Easy.
    </description>
    <author email="jensel.gatchalian@gmail.com" href="">
        Jensel Gatchalian
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <icon src="res/bigegg.png" />
    </platform>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <plugin name="cordova-plugin-admobpro" spec="~2.28.3" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.3" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~2.3.0" />
</widget>
